main {
    background-image: url('../assets/starsContacts.png');
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
}
main > div {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    margin: 50px 100px;
    background-color: #1e1e1eee;
    border-radius: 50px;
    padding: 20px;
}
main div section > h1 {
    color: #48e5ff;
    width: 100%;
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 200;
}
main div section {
    width: 45%;
}
main div section h1:first-child {
    margin-top: 20px;
}
main div section div {
    color: white;
    font-size: 12px;
    font-family: 'Irina Sans', sans-serif;
    font-style: normal;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    row-gap: 10px;
    font-style: italic;
}
hr {
    width: 100%;
    height: 0.0789px;
    background-color: #353434;
    border: none;
}
main div section div h2 {
    font-size: 23px;
    font-weight: 100;
    font-style: normal;
}

iframe {
    width: 100%;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 100%;
}
form label {
    color: white;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

form input,
form textarea {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #1e1e1e;
    color: white;
    border: solid 2px #353434;
}
form button {
    background-color: #48e5ff;
    border: none;
    border-radius: 10px;
    padding: 0;
    margin: 10px 0;
    width: 100%;
    min-width: min-content;
    height: 30px;
}
.error {
    color: red;
    font-size: 14px;
    font-weight: 100;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 1020px) {
    main div {
        flex-direction: column;
        align-items: center;
        margin: 50px 20px;
    }
    main div section {
        width: 100%;
    }
    main div section > h1 {
        font-size: 20px;
    }
    main div section div h2 {
        font-size: 20px;
    }
    form button {
        width: 100%;
    }
    form input,
    form textarea {
        width: 100%;
    }
}
